<h1> <%= @author.name %> </h1>

<p>
  <% if @author.birth_date.present? %>
    Date of birth:
    <%= @author.birth_date.strftime('%d-%m-%Y') %>
  <% end %>
</p>
<p>
  <%= "Book".pluralize(@books.size) %>:
</p>
<% @books.each do |book| %>
  <p>
    <%= link_to book.title, book_path(book) %>
  </p>
<% end %>

<% if current_user_admin? %>
  <%= link_to "Edit", edit_author_path %>
<% end %>
