<h1> <%= @author.name %> </h1>

<p>
  Date of birth:
  <% if @author.birth_date.present? %>
    <%= @author.birth_date.strftime('%d-%m-%Y') %>
    <% else %>
  <%= 'Not given' %>
  <% end %>
</p>
<p>
  <%= "Book".pluralize(@books.size) %>:
</p>
<% @books.each do |book| %>
  <p>
    <%= link_to book.title, book_path(book) %>
  </p>
<% end %>

<%= link_to "Edit", edit_author_path if policy(Author).update?%>
<%= link_to "Delete Author", author_path(@author), method: :delete, data: { confirm: 'Are you sure?' } if policy(Author).destroy?%>
