<header>
  <h3><%= @user.name %></h3>
  <p><%= @user.email %></p>
</header>

<p>
  <% if current_user?(@user) or current_user_admin? %>
    <% if @reservations.any? %>
    <p>
      Reserved books:
    </p>
    <% @reservations.each do |reservation| %>
      <p>
        <%= link_to reservation.book.title, book_path(reservation.book) %>
      </p>
    <% end %>
  <% else %>
    <p>
      <%= content_tag(:strong, 'No reserved books') %>
    </p>
  <% end %>

  <% if @borrowed_books.any? %>
    <p>
      Borrowed books:
    </p>
    <% @borrowed_books.each do |reservation| %>
      <p>
        <%= link_to reservation.book.title, book_path(reservation.book) %>
      </p>
    <% end %>
  <% else %>
    <p>
      <%= content_tag(:strong, 'No borrowed books') %>
    </p>
  <% end %>

  <% if @lost_books.any? %>
    <p>
      Lost books:
    </p>
    <% @lost_books.each do |reservation| %>
      <p>
        <%= link_to reservation.book.title, book_path(reservation.book) %>
      </p>
    <% end %>
  <% end %>
<% end %>

<p>
  <%= link_to "Edit Account", edit_user_path(@user) if policy(@user).update? %>
  <%= link_to "Delete Account", user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } if policy(@user).destroy? %>
</p>
