<%= form_for(@publisher) do |f| %>

  <%= render 'shared/errors', object: @publisher %>

  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name, autofocus: true %>
  </p>
  <p>
    <%= f.label :origin, "Origin county" %><br/>
    <%= f.text_field :origin %>
  </p>

  <%= f.submit %>
<% end %>
