<%= form_for(@book) do |f| %>

  <%= render 'errors' %>

  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, autofocus: true %>
  </p>
  <p>
    <%= f.label :author %><br/>
    <%= f.text_field :author %>
  </p>

  <p>
    <%= f.label :publisher %><br/>
    <%= f.collection_select :publisher_id, Publisher.order(:name), :id, :name %>
  </p>

  <p>
    <%= f.label :publication_date %><br/>
    <%= f.date_select :publication_date %>
  </p>

<%= f.submit %>
<% end %>
