<%= form_for(@book) do |f| %>

  <%= render 'shared/errors', object: @book %>

  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, autofocus: true %>
  </p>
  <p>
    <%= f.label :authors %><br/>
    <%= f.collection_check_boxes(:author_ids, Author.all.order(:name), :id, :name) %>
  </p>

  <p>
    <%= f.label :publisher %><br/>
    <%= f.collection_select :publisher_id, Publisher.order(:name), :id, :name %>
  </p>

  <p>
    <%= f.label :publication_date %><br/>
    <%= f.date_select :publication_date %>
  </p>

<%= f.submit %>
<% end %>
