<h1> <%= @book.title %> </h1>

<p>
  <%= "Author".pluralize(@authors.size) %>:
  <% @authors.each do |author| %>
    <%= link_to author.name, author_path(author) %>
  <% end %>
</p>
<p>
  Publisher:
  <%= link_to @book.publisher.name, publisher_path(@book.publisher) %>
</p>
<p>
  <% unless @book.publication_date.nil? %>
    Publication date:
    <%= @book.publication_date.strftime('%d-%m-%Y') %>, (<%= time_ago_in_words(@book.publication_date) %> ago)
  <% end %>
</p>

<% if current_user %>
  <% if @current_reservation %>
    <p><%= "Book is reserved until #{@current_reservation.return_date.strftime('%d-%m-%Y')}" %></p>
    <% if current_user_admin? %>
      <%= button_to "Change Reservation", edit_book_reservation_path(@book, @current_reservation), method: :get %>
    <% end %>
  <% elsif @book_lost %>
    <%= "Book is lost" %>
  <% else %>
    <%= button_to "Make Reservation", book_reservations_path(@book) %>
  <% end %>
<% end %>

<% if current_user_admin? %>
  <p>
    <%= link_to "Edit Book", edit_book_path(@book) %>
    <%= link_to "Delete Book", book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
