<%= form_for([@book, @reservation]) do |f| %>

  <p>
    <%= f.label :status %><br/>
    <%= f.select :status, [["Reserved", 0], ["Borrowed", 1], ["Returned", 2], ["Lost", 3]] %>
  </p>

  <p>
    <%= f.label :return_date %><br/>
    <%= f.date_select :return_date %>
  </p>

  <%= f.submit %>
<% end %>
